@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Thin.woff") format("woff"), url("../fonts/Montserrat-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 60px;
}

.title_fz16 {
  font-size: 16px;
  line-height: 24px;
}

.title_fz48 {
  font-size: 48px;
  line-height: 60px;
}

.title_fz14 {
  font-size: 14px;
  line-height: 21px;
}

.title_fz21 {
  font-size: 21px;
}

.title_fz20 {
  font-size: 20px;
  line-height: 30px;
}

.btn {
  background-color: #FFA501;
  padding: 12px 25px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.burger {
  display: inline-block;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  position: fixed;
  z-index: 5;
  top: 20px;
  right: 30px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #000;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.bar2 {
  width: 45px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      -ms-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
      -ms-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
}

.promo {
  min-height: 100vh;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.5))), url("../img/Background.jpg") no-repeat center/cover;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 15%, rgba(0, 0, 0, 0.5)), url("../img/Background.jpg") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 15%, rgba(0, 0, 0, 0.5)), url("../img/Background.jpg") no-repeat center/cover;
  padding-top: 205px;
  color: white;
}

.promo__title {
  max-width: 530px;
  margin-top: 10px;
}

.promo__subtitle {
  position: relative;
  padding-left: 10px;
  z-index: 1;
}

.promo__subtitle:before {
  content: '';
  background-color: #FFA501;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: -30%;
  z-index: -1;
}

.promo__buttons {
  margin-top: 25px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__link {
  color: white;
  font-weight: bold;
}

.sidepanel {
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 3;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-90deg);
      -ms-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
  left: -5%;
}

.sidepanel__devider {
  width: 70px;
  height: 2px;
  background-color: black;
}

.sidepanel__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.sidepanel__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.sidepanel__link svg path {
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
}

.sidepanel__link:nth-of-type(3):hover svg path {
  fill: blue;
}

.sidepanel__link:nth-of-type(2):hover svg path {
  fill: brown;
}

.sidepanel__link:nth-of-type(1):hover svg path {
  fill: gray;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.menu.active {
  left: 0;
  visibility: visible;
  opacity: 1;
}

.menu__block {
  width: 345px;
  background-color: #FFA501;
  height: 100%;
  position: relative;
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
  padding-top: 140px;
  padding-left: 40px;
  z-index: 5;
}

.menu__social {
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu__item {
  padding-left: 35px;
  margin-bottom: 15px;
  position: relative;
}

.menu__item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 100%;
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
}

.menu__item:hover::before {
  background-color: #fff;
}

.menu__item a {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu__link svg path {
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
}

.menu__link:nth-of-type(3):hover svg path {
  fill: blue;
}

.menu__link:nth-of-type(2):hover svg path {
  fill: brown;
}

.menu__link:nth-of-type(1):hover svg path {
  fill: gray;
}

.menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.75;
}

.about {
  padding-top: 120px;
}

.about__wrapper {
  display: grid;
  grid-template-columns: minmax(200px, 400px) minmax(200px, 670px);
  grid-template-rows: minmax(245px, auto) minmax(255px, auto);
  grid-auto-rows: minmax(245px, auto);
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
  row-gap: 40px;
}

.about picture {
  grid-row: 1/3;
}

.about__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__descr {
  padding-top: 8px;
}

.about__descr .devider {
  margin: 0px;
}

.about__subtitle {
  position: relative;
  padding-left: 14px;
}

.about__subtitle:before {
  content: '';
  background-color: #FFA501;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: -30%;
  z-index: -1;
}

.about__text {
  margin-top: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.about__skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, auto));
  grid-template-rows: minmax(80px, auto);
  grid-auto-rows: minmax(80px, auto);
  gap: 20px 55px;
}

.about__skills-item {
  display: grid;
  grid-template-columns: 45px minmax(200px, auto);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.about__skills-item picture {
  position: relative;
}

.about__skills-item picture:before {
  content: '';
  background-color: #FFA501;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: -30%;
  z-index: -1;
}

.about__skills-item picture img {
  position: absolute;
  top: 15px;
  left: 15px;
}

.about__skills-text {
  margin-top: 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.experience {
  padding-top: 120px;
}

.experience__title {
  text-align: center;
}

.experience__subtitle {
  text-align: center;
  position: relative;
}

.experience__subtitle:before {
  content: '';
  background-color: #FFA501;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: -30%;
  z-index: -1;
}

.experience__subtitle:before {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.experience__wrapper {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  -webkit-column-gap: 130px;
     -moz-column-gap: 130px;
          column-gap: 130px;
  row-gap: 45px;
}

.experience__column-title {
  position: relative;
  padding-left: 35px;
}

.experience__column-title:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #FFA501;
  left: -7px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.experience__item {
  position: relative;
  margin-top: 45px;
}

.experience__item:after {
  content: '';
  width: 1px;
  height: calc(100% + 45px);
  position: absolute;
  top: -53px;
  left: 0;
  background-color: black;
  z-index: -1;
}

.experience__item-wrapper {
  padding-left: 35px;
}

.experience__item-head {
  padding-left: 55px;
  position: relative;
}

.experience__item-icon {
  position: absolute;
  left: 0;
}

.experience__item-icon picture {
  position: relative;
}

.experience__item-icon picture:before {
  content: '';
  background-color: #FFA501;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: -30%;
  z-index: -1;
}

.experience__item-icon picture img {
  position: absolute;
  top: 15px;
  left: 15px;
}

.experience__item-icon picture:after {
  position: absolute;
  content: '';
  height: 1px;
  width: 35px;
  background-color: black;
  top: 18px;
  left: -35px;
}

.experience__item-location {
  font-size: 12px;
  line-height: 18px;
}

.experience__item-text {
  margin-top: 12px;
  font-size: 12px;
  line-height: 18px;
}

.skills {
  padding-top: 120px;
}

.skills__subtitle {
  text-align: center;
  position: relative;
}

.skills__subtitle:before {
  content: '';
  background-color: #FFA501;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: -30%;
  z-index: -1;
}

.skills__subtitle:before {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.skills__title {
  text-align: center;
}

.skills__wrapper {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, auto));
  grid-template-rows: minmax(270px, auto);
  grid-auto-rows: minmax(270px, auto);
  gap: 15px;
}

.skills__item {
  padding: 30px;
  border: 1px solid black;
}

.skills__item-title {
  margin-top: 20px;
}

.skills__item-text {
  margin-top: 15px;
  font-size: 12px;
  line-height: 18px;
}

.portfolio {
  padding-top: 120px;
}

.portfolio__title {
  text-align: center;
}

.portfolio__subtitle {
  text-align: center;
  position: relative;
}

.portfolio__subtitle:before {
  content: '';
  background-color: #FFA501;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: -30%;
  z-index: -1;
}

.portfolio__subtitle:before {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.portfolio__wrapper {
  margin-top: 60px;
  display: grid;
  grid-template: repeat(2, 280px)/repeat(4, 280px);
  grid-auto-rows: 280px;
  gap: 5px;
}

.portfolio .vertical {
  grid-row: 1/3;
  grid-column: 4/5;
}

.portfolio .horizontal {
  grid-column: 2 / 4;
  grid-row: 2/3;
}

.portfolio__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__item {
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.portfolio__item:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.contacts {
  padding-top: 120px;
  padding-bottom: 90px;
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: minmax(200px, 400px) minmax(200px, 670px);
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}

.contacts__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts__descr {
  padding-top: 8px;
}

.contacts__subtitle {
  position: relative;
  padding-left: 14px;
}

.contacts__subtitle:before {
  content: '';
  background-color: #FFA501;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: -30%;
  z-index: -1;
}

.contacts .devider {
  margin: 0px;
}

.contacts__text {
  margin-top: 20px;
}

.contacts__contacts {
  margin-top: 20px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  grid-template-rows: minmax(30px, auto);
  grid-auto-rows: minmax(30px, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__social {
  display: grid;
  grid-template-columns: repeat(auto-fit, 30px);
  grid-template-rows: 30px;
  grid-auto-rows: 30px;
  gap: 25px;
}

.contacts__mail-and-numb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__link {
  width: 30px;
  height: 30px;
}

.contacts__link svg path {
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
}

.contacts__link:nth-of-type(3):hover svg path {
  fill: lightblue;
}

.contacts__link:nth-of-type(2) {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.contacts__link:nth-of-type(2):hover svg path {
  fill: brown;
}

.contacts__link:nth-of-type(1) {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.contacts__link:nth-of-type(1):hover svg path {
  fill: blue;
}

.contacts__contact {
  color: black;
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
}

.contacts__contact:hover {
  color: #FFA501;
}

.contacts__form {
  margin-top: 20px;
  display: grid;
  grid-template: 45px 190px auto/repeat(2, minmax(200px, auto));
  gap: 30px;
}

.contacts__input {
  position: relative;
}

.contacts__input input {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  border: 1px solid #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.contacts__input label {
  position: absolute;
  background-color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  top: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  padding: 0 8px;
}

.contacts__textarea {
  position: relative;
  grid-column: 1 / 3;
}

.contacts__textarea label {
  position: absolute;
  background-color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  top: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  padding: 0 8px;
}

.contacts__textarea textarea {
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  padding: 10px;
  resize: none;
}

.contacts__button {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.contacts__triggers {
  grid-column: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts__policy {
  font-size: 12px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__policy input {
  margin-right: 10px;
}

.contacts__policy a:hover {
  text-decoration: underline;
}

* {
  font-family: 'Montserrat', serif;
  line-height: 21px;
  font-weight: 500;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.devider {
  height: 3px;
  width: 60px;
  background: #FFA501;
  margin: 25px auto 0 auto;
}

@media (max-width: 1440px) {
  .sidepanel {
    left: -130px;
  }
}

@media (max-width: 1250px) {
  .sidepanel {
    display: none;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .about__wrapper {
    -webkit-column-gap: 35px;
       -moz-column-gap: 35px;
            column-gap: 35px;
  }

  .about__skills {
    -webkit-column-gap: 35px;
       -moz-column-gap: 35px;
            column-gap: 35px;
  }

  .contacts__wrapper {
    -webkit-column-gap: 35px;
       -moz-column-gap: 35px;
            column-gap: 35px;
  }

  .contacts__form {
    gap: 20px;
  }

  .contacts__policy {
    margin-top: 20px;
  }

  .portfolio__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    grid-template-rows: 280px;
  }

  .portfolio .vertical {
    grid-column: auto;
  }

  .portfolio .horizontal {
    grid-column: auto;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .contacts__form {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-template-rows: 45px 45px 190px auto;
  }

  .contacts__textarea {
    grid-column: auto;
  }

  .contacts__triggers {
    grid-column: auto;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .menu__block {
    width: 250px;
    padding-left: 20px;
  }

  .title {
    font-size: 26px;
    line-height: 45px;
  }

  .title_fz16 {
    font-size: 16px;
    line-height: 24px;
  }

  .title_fz14 {
    font-size: 14px;
    line-height: 21px;
  }

  .title_fz48 {
    font-size: 48px;
    line-height: 60px;
  }

  .about__wrapper {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }

  .about__skills {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }

  .about__skills-item {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }

  .portfolio__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-template-rows: 250px;
  }

  .contacts__wrapper {
    gap: 20px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }

  .title_fz48 {
    font-size: 38px;
    line-height: 39px;
  }

  .burger {
    right: 20px;
  }

  .promo {
    background-position: 67% !important;
  }

  .promo__buttons {
    margin-top: 30px;
  }

  .about {
    padding-top: 40px;
  }

  .about__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
  }

  .about__wrapper picture {
    grid-row: auto;
  }

  .about__photo {
    height: 360px;
  }

  .experience {
    padding-top: 40px;
  }

  .experience__wrapper {
    margin-top: 40px;
  }

  .skills {
    padding-top: 40px;
  }

  .portfolio {
    padding-top: 40px;
  }

  .contacts {
    padding-top: 40px;
  }

  .contacts__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
  }

  .contacts__form {
    grid-template: 45px 190px auto/repeat(2, minmax(200px, auto));
  }

  .contacts__textarea {
    grid-column: 1 / 3;
  }

  .contacts__triggers {
    grid-column: 1 / 3;
  }

  .contacts__photo {
    height: 360px;
  }
}

@media (max-width: 545px) {
  .portfolio__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-template: 300px / 300px;
  }

  .vertical {
    grid-row: auto !important;
  }
}

@media (max-width: 450px) {
  .contacts__form {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-template-rows: 45px 45px 190px auto;
  }

  .contacts__textarea {
    grid-column: auto;
  }

  .contacts__triggers {
    grid-column: auto;
  }
}
@supports (-webkit-appearance:none){
.promo{background:-webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.5))), url("../img/Background.webp") no-repeat center/cover}
.promo{background:-o-linear-gradient(top, rgba(0, 0, 0, 0.1) 15%, rgba(0, 0, 0, 0.5)), url("../img/Background.webp") no-repeat center/cover}
.promo{background:linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 15%, rgba(0, 0, 0, 0.5)), url("../img/Background.webp") no-repeat center/cover}
}

 @media (max-width: 1440px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1250px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 576px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 545px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 450px){

@supports (-webkit-appearance:none){

}

}
